@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap%27");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark-primary: #2a254b;
  --primary: #4e4d93;
  --light-grey: #f9f9f9;
  --white: #ffffff;
  --border-dark: #cac6da;
}

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
/* --------- start of header section --------- */
header {
  background-color: #fff;
  padding: 1rem 1.5rem;
  position: relative;
}

header div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.3rem 0; */
  margin-bottom: 0.3rem;
}

header div .user {
  display: none;
}

header div h1 {
  order: 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: #22202e;
}

header .header-icons i {
  margin-left: 0.7rem;
  color: #22202e;
}

header hr {
  display: none;
}
nav {
  background-color: white;
  padding: 2rem 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  z-index: 10;
}

.slide-in {
  animation: slide 1s forwards;
}
.slide-out {
  animation: slideOut 1s forwards;
}

@keyframes slide {
  0% {
    opacity: 0;
    top: 3px;
  }
  100% {
    opacity: 1;
    top: 3.56rem;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    top: 4rem;
  }

  100% {
    opacity: 0;
    top: 3rem;
  }
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 1.5rem;
}

nav ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav ul li a {
  color: #726e8d;
  position: relative;
  width: 100%;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #e4e0f1;
  bottom: -50%;
  left: 0;
  height: 0.1rem;
}

.active::after {
  background-color: var(--dark-primary);
}

.fa-bars {
  transition: all 0.3s ease-in-out;
}

.rotate-menu {
  transform: rotateZ(90deg);
  transition: all 0.3s ease-in-out;
}
/* ------ header media queries ------ */
@media screen and (min-width: 992px) {
  header hr {
    display: block;
    background-color: #f1eff8;
    border: 0.5px solid #f1eff8;
  }
  header div h1 {
    font-size: 2rem;
  }

  header div .user {
    display: block;
  }

  .fa-bars {
    display: none;
  }

  nav {
    display: block;
    position: relative;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    font-size: 0.9rem;
  }

  nav ul li a {
    width: auto;
  }
  nav ul li a::after {
    background-color: var(--dark-primary);
    display: none;
    height: 0.15rem;
    bottom: -30%;
  }

  nav ul li a:hover:after {
    display: block;
    animation: underline 0.5s forwards;
  }

  @keyframes underline {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }

  .active::after {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    display: block;
    position: relative;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-around;
    width: 42%;
    margin: 0 auto;
    font-size: 1rem;
  }
}
/* --------- end of header section ---------- */

/* service section style start */
#service h2 {
  color: var(--dark-primary);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.8rem;
  padding: 2rem 1.5rem 2rem 1.5rem;
  margin-bottom: 3rem;
}

/* start media queries for service section in about page */

@media (min-width: 768px) and (max-width: 991.98px) {
  #service h2 {
    padding: 1.5rem 4.8rem 1.5rem 7.5rem;
    font-size: 1.7rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #service h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #service h2 {
    font-size: 2.25rem;
    margin: auto;
    width: 60%;
    font-weight: 300;
    line-height: 3.15rem;
  }
}
/* end media queries for service section */

/* service section style end */

/* blogs section style start */
#first-blog,
#second-blog {
  display: flex;
  flex-direction: column;
}
#first-blog .inf .blog-title {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 3rem 5.75rem 0.75rem 1.5rem;
  color: var(--dark-primary);
}
#first-blog .inf p {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0.75rem 1.5rem 4rem 1.5rem;
  line-height: 1.3rem;
  color: var(--primary);
}
#first-blog .inf .contact {
  color: var(--dark-primary);
  background-color: var(--light-grey);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0rem 1.5rem 2.37rem 1.5rem;
  padding: 1rem 7rem 1rem 7rem;
}

#first-blog img {
  width: 100%;
  margin-bottom: -0.438rem;
}
#second-blog img {
  width: 100%;
}

#second-blog .inf .blog-title {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 3rem 5.75rem 0.75rem 1.5rem;
  color: var(--dark-primary);
}
#second-blog .inf p {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0.75rem 1.5rem 4rem 1.5rem;
  line-height: 1.3rem;
  color: var(--primary);
}
#second-blog .inf .contact {
  color: var(--dark-primary);
  background-color: var(--light-grey);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0rem 1.5rem 6.9rem 1.5rem;
  padding: 1rem 7rem 1rem 7rem;
}
/* start media queries for service blogs in about page */
@media (min-width: 768px) and (max-width: 991.98px) {
  #first-blog .inf .contact {
    width: 45%;
    font-size: 1rem;
    text-align: center;
  }
  #second-blog .inf .contact {
    width: 45%;
    font-size: 1rem;
    text-align: center;
  }
}
@media (min-width: 992px)  {
  #first-blog .inf .contact {
    width: 30%;
    font-size: 1rem;
    text-align: center;
  }
  #second-blog .inf .contact {
    width: 30%;
    font-size: 1rem;
    text-align: center;
  }
  #first-blog,
  #second-blog {
    display: flex;
    flex-direction: row;
  }
#first-blog .inf .blog-title {
  margin-top:4.5rem;

}

#second-blog .inf .blog-title {
  margin-top:4.5rem;
}


  #first-blog img {
    width: 50%;
    margin-bottom: -0.438rem;
  }
  #second-blog img {
    width: 50%;
    margin-top: 0.5rem;
  }
  #first-blog .inf p {
    font-size: 1rem;
    padding-top: 1.7rem;
  }
  #second-blog .inf p {
    font-size: 1rem;
    padding-top: 1.7rem;

  }

  #first-blog .inf .contact {
    width: 30%;
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 12rem;
  }
  #second-blog .inf .contact {
    width: 30%;
    font-size: 0.8rem;
    text-align: center;
    padding: 1rem 2rem 1rem 2rem;
    margin-top: 12rem;
  }
}

/* end media queries for blogs section in about page */

/* blogs section style end  */

/* start style for information section */
#info {
  color: var(--dark-primary);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
#info .container {
  display: flex;
  flex-direction: column;
}
#info h4 {
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 2.5rem;
}
#info .card {
  margin-bottom: 2.4rem;
}
#info .card i {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
#info .card h5 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}
#info .card p {
  font-size: 0.8rem;
  font-weight: 400;
}

/* start media quiery for information section */
@media (min-width:992px) {
  #info h4 {
    text-align: center;
    font-size: 1.5rem;
    padding-top: 3.5rem;
  }
  #info .container {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
  }
  #info .container .card {
    padding-right: 3.7rem;
  }
  #info .container .card h5 {
    font-size:1.1rem;
    
  }
  #info .container .card p {
    font-size:0.8rem;
  }


  } 




/* end style for information section */

/* Footer style starts */

footer {
  background-color: var(--dark-primary);
  padding: 3rem 2rem 1rem;
  color: var(--light-grey);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

footer .container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  row-gap: 3rem;
}

footer .container div > * {
  width: 100%;
}

footer .container div ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 1rem;
}

footer .container div ul li {
  width: 100%;
  opacity: 0.9;
  text-transform: capitalize;
  font-size: 0.9rem;
}

footer .container div ul li a {
  text-decoration: none;
  color: var(--light-grey);
  transition: all 0.2s ease-in-out;
}

footer .container div ul li a:hover {
  color: #908ba2;
  transform: scale(1.2) rotateZ(5deg);
}

footer h1 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2.5rem;
}

footer h3 {
  font-weight: 400;
  font-size: 1.1rem;
  opacity: 0.9;
}

footer .container .categories {
  display: none;
}

footer .container .social {
  padding: 1.5rem 0;
}

footer .container .social ul {
  justify-content: space-between;
  gap: 0rem;
}

footer .container .social ul li {
  width: calc(90% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .container .social ul li i {
  font-size: 1.5rem;
  margin-top: 1rem;
}

footer .copy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1.5rem;
}

footer .copy p {
  opacity: 0.9;
  font-size: 0.9rem;
}

footer .copy hr {
  width: 100%;
  background-color: var(--primary);
  border: 0;
  height: 1px;
}

/*  Footer style mediam screen tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  footer .container .social ul li {
    justify-content: flex-start;
  }
}

/* Footer style large screen laptop */
@media (min-width: 992px) and (max-width: 1199.98px) {
  footer .container {
    display: grid;
    grid-template-columns: 1fr 1.5fr repeat(3, 1fr);
    column-gap: 4rem;
  }

  footer .container .categories {
    display: inherit;
  }

  footer .container .social {
    padding: 0;
  }

  footer .container .social ul li {
    width: calc(90% / 6);
  }

  footer .copy {
    justify-content: flex-start;
  }
}

/* Footer style X large screen */
@media (min-width: 1200px) {
  footer {
    padding: 3rem 5rem 1rem;
  }

  footer .container {
    display: grid;
    grid-template-columns: 1fr 1.5fr repeat(3, 1fr);
    column-gap: 4rem;
  }

  footer .container .categories {
    display: inherit;
  }

  footer .container .social {
    padding: 0;
  }

  footer .container .social ul li {
    width: calc(90% / 6);
  }

  footer .copy {
    justify-content: flex-start;
  }
}

/* Footer style ends */
