@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap%27");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --dark-primary: #2a254b;
  --primary: #4e4d93;
  --light-grey: #f9f9f9;
  --white: #ffffff;
  --border-dark: #cac6da;
}

body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/* --------- start of header section --------- */
header {
  background-color: #fff;
  padding: 1rem 1.5rem;
  position: relative;
}

header div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.3rem 0; */
  margin-bottom: 0.3rem;
}

header div .user {
  display: none;
}

header div h1 {
  order: 0;
  font-size: 1.5rem;
  font-weight: 300;
  color: #22202e;
}

header .header-icons i {
  margin-left: 0.7rem;
  color: #22202e;
}

header hr {
  display: none;
}

nav {
  background-color: white;
  padding: 2rem 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  z-index: 10;
}

.slide-in {
  animation: slide 1s forwards;
}

.slide-out {
  animation: slideOut 1s forwards;
}

@keyframes slide {
  0% {
    opacity: 0;
    top: 3px;
  }

  100% {
    opacity: 1;
    top: 3.56rem;
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    top: 4rem;
  }

  100% {
    opacity: 0;
    top: 3rem;
  }
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 1.5rem;
}

nav ul li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav ul li a {
  color: #726e8d;
  position: relative;
  width: 100%;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: #e4e0f1;
  bottom: -50%;
  left: 0;
  height: 0.1rem;
}

.active::after {
  background-color: var(--dark-primary);
}

.fa-bars {
  transition: all 0.3s ease-in-out;
}

.rotate-menu {
  transform: rotateZ(90deg);
  transition: all 0.3s ease-in-out;
}

/* ------ header media queries ------ */
@media screen and (min-width: 992px) {
  header hr {
    display: block;
    background-color: #f1eff8;
    border: 0.5px solid #f1eff8;
  }

  header div h1 {
    font-size: 2rem;
  }

  header div .user {
    display: block;
  }

  .fa-bars {
    display: none;
  }

  nav {
    display: block;
    position: relative;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    font-size: 0.9rem;
  }

  nav ul li a {
    width: auto;
  }

  nav ul li a::after {
    display: none;
    height: 0.15rem;
    bottom: -30%;
  }

  nav ul li a:hover:after {
    background-color: var(--dark-primary);
    display: block;
    animation: underline 0.5s forwards;
  }

  @keyframes underline {
    0% {
      width: 0%;
    }

    100% {
      width: 100%;
    }
  }

  .active::after {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    display: block;
    position: relative;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-around;
    width: 42%;
    margin: 0 auto;
    font-size: 1rem;
  }
}

/* --------- end of header section ---------- */
/*Introduction style section starts*/
#intro {
  display: flex;
}

.intro-detail {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
  background-color: var(--dark-primary);
}

.intro-detail h2 {
  width: 100%;
  order: 0;
  padding: 0 3rem 5rem 1rem;
  font-size: 1.8rem;
  font-weight: 300;
}

.intro-detail p {
  width: 100%;
  order: 1;
  padding: 0 0 2rem 1rem;
  font-size: 1.2rem;
  font-weight: 200;
}

.intro-detail a {
  order: 2;
  text-decoration: none;
  opacity: 0.8;
  width: 90%;
  padding: 1.2rem 0;
  text-align: center;
  color: var(--white);
  background: #f9f9f926;
}

#intro img {
  display: none;
}

/*Introduction style section ends*/
@media (min-width: 768px) and (max-width: 991.98px) {
  .intro-detail {
    padding: 3rem 2rem;
  }
}

/* Introduction style large screen laptop */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #intro {
    margin: 2.5rem;
    height: 65vh;
  }

  #intro img {
    order: 3;
    display: block;
  }

  .intro-detail {
    padding-left: 2rem;
    display: flex;
    align-items: flex-start;
  }

  .intro-detail h2 {
    font-size: 1.8rem;
    padding: 0 3rem 1rem 0;
  }

  .intro-detail p {
    font-size: 1rem;
    order: 2;
    padding: 3rem 2rem 0 0;
  }

  .intro-detail a {
    padding: 0.9rem 0;
    order: 1;
    font-size: 0.7rem;
    width: 25%;
  }

  .intro-detail a:hover {
    background: #f9f9f981;
  }
}

/* Introduction style X large screen */
@media (min-width: 1200px) {
  #intro {
    height: 70vh;
    margin: 0 5rem 0;
  }

  #intro img {
    order: 3;
    display: block;
  }

  .intro-detail {
    padding: 0 2rem;
    padding-left: 2.5rem;
    display: flex;
    align-items: flex-start;
  }

  .intro-detail h2 {
    font-size: 1.5rem;
    width: 70%;
    padding: 0 0 2rem 0;
  }

  .intro-detail p {
    font-size: 1rem;
    width: 84%;
    order: 2;
    padding: 8rem 0 0 0;
  }

  .intro-detail a {
    font-size: 0.9rem;
    padding: 0.8rem 0;
    order: 1;
    width: 18%;
  }

  .intro-detail a:hover {
    background: #f9f9f981;
  }
}

/*Information style section starts*/
#information {
  margin: 2rem 0;
  color: var(--dark-primary);
}

#information h4 {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2rem 1rem;
}

#information h4 span::before {
  content: "\A";
  white-space: pre;
}

#information .container {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

#information .card {
  margin: 1.2rem 0;
}

#information .card i {
  font-size: 1.2rem;
}

#information .card h5 {
  padding: 0.6rem 0;
  font-size: 1.2rem;
  font-weight: 400;
}

/*Information style section ends*/

/*  Information style mediam screen tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  #information .container {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #information .card {
    margin: 1rem 2rem;
    width: 40%;
  }

  #information h4 {
    text-align: center;
  }

  #information h4 span::before {
    white-space: normal;
  }
}

/* Information style large screen laptop */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #information {
    margin: 0;
    padding: 5rem 3rem;
  }

  #information .container {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #information .card {
    width: calc(90% / 4);
  }

  #information h4 {
    text-align: center;
  }

  #information h4 span::before {
    white-space: normal;
  }
}

/* Information style X large screen */
@media (min-width: 1200px) {
  #information {
    margin: 5rem;
  }

  #information .container {
    padding: 0;
    justify-content: space-between;
    flex-direction: row;
  }

  #information .card {
    width: calc(95% / 4);
  }

  #information .card i {
    font-size: 0.85rem;
  }

  #information .card h5 {
    font-size: 1rem;
  }

  #information .card p {
    font-size: 0.85rem;
  }

  #information h4 {
    text-align: center;
  }

  #information h4 span::before {
    white-space: normal;
  }
}

/* Footer style starts */
/*New Product style starts*/
#new-products {
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  color: var(--dark-primary);
}

#new-products .container {
  padding: 1.2rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

#new-products h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

#new-products .card {
  width: 100%;
}

#new-products .card div {
  position: relative;
}

#new-products .card img {
  width: 100%;
  height: 12rem;
}

#new-products .card div h5 {
  margin-top: 1rem;
  color: var(--dark-primary);
  font-size: 1rem;
  font-weight: 400;
}

#new-products .card div span {
  font-weight: 600;
}

#new-products .card >div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-products .card >div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

#new-products .card .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgb(34, 32, 46, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(90deg);
  transform-origin: top left;
  transition: all 0.25s ease-in-out;
}

#new-products .card .bg a {
  text-decoration: none;
  font-size: 0.7rem;
  color: var(--dark-primary);
  padding: 0.8rem 1rem;
  background-color: var(--light-grey);
  cursor: pointer;
}

#new-products .card .bg a:hover {
  background-color: var(--dark-primary);
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

#new-products>a {
  text-decoration: none;
  width: 100%;
  align-self: center;
  font-size: 1rem;
  background-color: var(--light-grey);
  padding: 1rem 2.5rem;
  text-align: center;
  color: var(--dark-primary);
}

#new-products>a:hover {
  background-color: var(--dark-primary);
  color: var(--white);
  transition: all 0.2s ease-in-out;
} 


/*New products section style for mediam screen tablet*/
@media (min-width: 768px) and (max-width: 991.98px) {
  #new-products .container {
    row-gap: 4rem;
    column-gap: 4rem;
  }
  #new-products .card img {
    height: 18rem;
  }
}

/*New products section style for large screen tablet*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  #new-products {
    padding: 3rem 4rem;
  }

  #new-products .card img {
    height: 14rem;
  }

  #new-products .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  #new-products>a {
    width: auto;
  }
}

/*New products section style for X large screen tablet*/

@media (min-width: 1200px) {
  #new-products {
    padding: 3rem 5rem;
  }

  #new-products .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 4rem;
  }

  #new-products .card img {
    height: 20rem;
  }

  #new-products>a {
    width: auto;
    font-size: 0.85rem;
  }

  #new-products .card .bg a {
    padding: 0.8rem 2rem;
    font-size: 1rem;
  }
}

/*New Product style ends*/
/*Popular products section style starts*/
#popular-products {
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#popular-products h4 {
  color: var(--dark-primary);
  font-size: 1.5rem;
  font-weight: 400;
}

#popular-products .container {
  padding: 1.2rem 0;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  gap: 1rem;
}

#popular-products .container .card {
  width: 200px;
  scroll-snap-align: start;
}

#popular-products .container::-webkit-scrollbar {
  display: none;
}

#popular-products div img {
  width: 100%;
  height: 12rem;
}

#popular-products .card div h5 {
  margin-top: 1rem;
  color: var(--dark-primary);
  font-size: 1rem;
  font-weight: 400;
}

#popular-products .card div span {
  font-weight: 600;
}

#popular-products .card >div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#popular-products .card >div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

#popular-products .card div {
  position: relative;
}

#popular-products .card .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(34, 32, 46, 0.3);
  transform: rotateX(90deg);
  transform-origin: top left;
  transition: all 0.25s ease-in-out;
}

#popular-products .card .bg a {
  text-decoration: none;
  font-size: 0.7rem;
  color: var(--dark-primary);
  padding: 0.8rem 1rem;
  background-color: var(--light-grey);
  cursor: pointer;
}

#popular-products .card .bg a:hover {
  background-color: var(--dark-primary);
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

#popular-products>a {
  text-decoration: none;
  width: 100%;
  align-self: center;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 2.5rem;
  color: var(--dark-primary);
  background-color: var(--light-grey);
}

#popular-products>a:hover {
  background-color: var(--dark-primary);
  color: var(--white);
  transition: all 0.2s ease-in-out;
}

/*Popular products section style for mediam screen tablet*/
@media (min-width: 768px) and (max-width: 991.98px) {
  #popular-products .container .card {
    width: 100%;
  }
}

/*popular products section style for large screen tablet*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  #popular-products {
    padding: 3rem 4rem;
  }

  #popular-products .container .card {
    width: 100%;
  }

  #popular-products .container .card img {
    height: 17rem;
  }

  #popular-products .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  #popular-products>a {
    width: auto;
  }
}

/*popular products section style for X large screen tablet*/

@media (min-width: 1200px) {
  #popular-products {
    padding: 3rem 5rem;
  }

  #popular-products .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 4rem;
  }

  #popular-products .container .card {
    width: 100%;
  }

  #popular-products .card img {
    height: 18rem;
  }

  #popular-products>a {
    width: auto;
    font-size: 0.85rem;
  }
  #popular-products .card .bg a {
    padding: 0.8rem 2rem;
    font-size: 1rem;
  }
}

/*Popular products section style ends*/
/*Sign up section style starts*/
#signup {
  background-color: var(--light-grey);
}

#signup .container {
  background-color: var(--white);
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signup .container > * {
  width: 100%;
}

#signup .container h1 {
  font-weight: 400;
  font-size: 1.1rem;
}

#signup .container p {
  font-weight: 300;
  font-size: 0.8rem;
  margin: 1rem 0 2.5rem;
}

#signup .container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup .container div input {
  background-color: var(--light-grey);
  width: 65%;
  padding: 1rem 1.5rem;
  border: 0;
  outline: 0;
}

#signup .container div input::placeholder {
  color: var(--border-dark);
}

#signup .container div button {
  width: 35%;
  padding: 1rem 0;
  border: 0;
  outline: 0;
  background-color: var(--dark-primary);
  color: var(--light-grey);
  transition: all 0.2s ease-in-out;
}

#signup .container div button:hover {
  background-color: #404358;
}

/*  signup section style mediam screen tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  #signup .container {
    padding: 2rem 3rem;
    text-align: center;
  }

  #signup .container h1 {
    width: 70%;
    font-size: 1.4rem;
  }

  #signup .container p {
    width: 50%;
    font-size: 0.8rem;
  }

  #signup .container div {
    width: 50%;
  }
}

/* signup section style large screen laptop */
@media (min-width: 992px) and (max-width: 1199.98px) {

  #signup {
    padding: 3rem 4rem;
  }

  #signup .container {
    padding: 2rem 4rem;
    text-align: center;
  }

  #signup .container h1 {
    width: 70%;
    font-size: 1.8rem;
  }

  #signup .container p {
    width: 50%;
    font-size: 0.8rem;
  }

  #signup .container div {
    width: 50%;
  }

}

/* signup section style X large screen */
@media (min-width: 1200px) {

  #signup {
    padding: 3rem 4rem;
  }

  #signup .container {
    padding: 4rem 0;
    text-align: center;
  }

  #signup .container h1 {
    width: 70%;
    font-size: 1.8rem;
  }

  #signup .container p {
    width: 30%;
    font-size: 0.8rem;
  }

  #signup .container div {
    width: 30%;
  }

}

/*Sign up section style ends*/
/*Blog section style starts*/
#blog {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.blog-details {
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: var(--dark-primary);
}

.blog-details h4 {
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 1rem;
  padding-right: 5rem;
}

.blog-details p {
  font-size: 0.8rem;
}

.blog-details :nth-child(2) {
  padding-bottom: 1.5rem;
}

.blog-details :nth-child(3) {
  padding-bottom: 5rem;
}

.blog-details button {
  width: 100%;
  align-self: center;
  border: 0;
  padding: 1.1rem 2rem;
  font-size: 0.9rem;
  color: var(--dark-primary);
  background-color: var(--light-grey);
}

.blog-details button:hover {
  color: var(--white);
  background-color: var(--dark-primary);
  transition: all 0.25s ease-in-out;
}

#blog img {
  width: 100%;
}

/*Blog section media query for large screen tablet*/
@media (min-width: 768px) and (max-width: 991.98px) {
  #blog {
    flex-direction: row;
    height: 370px;
  }

  #blog img {
    width: 100%;
    height: 100%;
  }

  .blog-details {
    padding: 0 2rem;
    height: 100%;
  }

  .blog-details :nth-child(3) {
    padding-bottom: 2rem;
  }

  .blog-details button {
    width: auto;
    align-self: flex-start;
  }
}

/*Blog section media query for large screen tablet*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  #blog {
    flex-direction: row;
    height: 350px;
  }

  #blog img {
    width: 100%;
    height: 100%;
  }

  .blog-details {
    padding: 3rem 2rem 1rem;
  }

  .blog-details :nth-child(3) {
    padding-bottom: 2rem;
  }

  .blog-details button {
    width: auto;
    align-self: flex-start;
  }
}

/*Blog section media query for X large screen tablet*/
@media (min-width: 1200px) {
  #blog {
    flex-direction: row;
    height: 550px;
    gap: 2rem;
  }

  #blog img {
    width: 100%;
    height: 100%;
  }

  .blog-details {
    padding: 4rem 4rem 1rem 6rem;
  }

  .blog-details :nth-child(3) {
    padding-bottom: 8rem;
  }

  .blog-details button {
    width: auto;
    align-self: flex-start;
  }
}

/*Blog section style ends*/
/*Footer section style starts*/
footer {
  background-color: var(--dark-primary);
  padding: 3rem 2rem 1rem;
  color: var(--light-grey);
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

footer .container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  row-gap: 3rem;
}

footer .container div>* {
  width: 100%;
}

footer .container div ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 1rem;
}

footer .container div ul li {
  width: 100%;
  opacity: 0.9;
  text-transform: capitalize;
  font-size: 0.9rem;
}

footer .container div ul li a {
  text-decoration: none;
  color: var(--light-grey);
  transition: all 0.2s ease-in-out;
}

footer .container div ul li a:hover {
  color: #908ba2;
  transform: scale(1.2) rotateZ(5deg);
}

footer h1 {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2.5rem;
}

footer h3 {
  font-weight: 400;
  font-size: 1.1rem;
  opacity: 0.9;
}

footer .container .categories {
  display: none;
}

footer .container .social {
  padding: 1.5rem 0;
}

footer .container .social ul {
  justify-content: space-between;
  gap: 0rem;
}

footer .container .social ul li {
  width: calc(90% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .container .social ul li i {
  font-size: 1.5rem;
  margin-top: 1rem;
}

footer .copy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 1.5rem;
}

footer .copy p {
  opacity: 0.9;
  font-size: 0.9rem;
}

footer .copy hr {
  width: 100%;
  background-color: var(--primary);
  border: 0;
  height: 1px;
}

/*  Footer style mediam screen tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  footer .container .social ul li {
    justify-content: flex-start;
  }
}

/* Footer style large screen laptop */
@media (min-width: 992px) and (max-width: 1199.98px) {
  footer .container {
    display: grid;
    grid-template-columns: 1fr 1.5fr repeat(3, 1fr);
    column-gap: 4rem;
  }

  footer .container .categories {
    display: inherit;
  }

  footer .container .social {
    padding: 0;
  }

  footer .container .social ul li {
    width: calc(90% / 6);
  }

  footer .copy {
    justify-content: flex-start;
  }
}

/* Footer style X large screen */
@media (min-width: 1200px) {
  footer {
    padding: 3rem 5rem 1rem;
  }

  footer .container {
    display: grid;
    grid-template-columns: 1fr 1.5fr repeat(3, 1fr);
    column-gap: 4rem;
  }

  footer .container .categories {
    display: inherit;
  }

  footer .container .social {
    padding: 0;
  }

  footer .container .social ul li {
    width: calc(90% / 6);
  }

  footer .copy {
    justify-content: flex-start;
  }
}

/* Footer section style ends */